{% extends "base.html" %}
{% load static %}


{% block css_links %}
<link rel="stylesheet" href="{%static 'css/restaurants/home.css' %}">
<link rel="stylesheet" href="{%static 'css/base.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
      <div class="col-sm-6">
        <img class="card-img-top" height="300em"  src="{{restaurant.cover_pic.url}}" alt="Cover Pic Here">
      </div>
      <div class="col-sm-6">
        <div class="card-header">
          <h1 class="card-title">{{restaurant.name}}</h1>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm">
                Location: {{restaurant.location}}
              </div>
              <div class="col-sm">
                Phone no. : {{restaurant.phone_number}}
              </div>
            </div>
          </li>

          <li class="list-group-item">Rating: {{restaurant.rating}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Website link</a>
        </div>
      </div>

  </div>
  <div class="row" >
    <div class="card">
      <div class="card-header">
        Reviews
      </div>
      <div class="card-body">

           <a href="{% url 'restaurants:add_review' pk=restaurant.pk %}" role="button" class="btn btn-info">Post Review</a>
           {% if reviews.count %}

              {% for review in reviews %}
                <hr>
                <blockquote class="blockquote mb-0">
                  <p>{{review.review}}</p>
                  <footer class="blockquote-footer"> <cite title="Source Title">{{review.writer.first_name}} {{review.writer.last_name}}</cite></footer>
                </blockquote>
                <hr>

              {% endfor %}

           {% else %}
           <p>No Reviews Yet</p>
           {% endif %}
      </div>
    </div>
  </div>


</div>



{% endblock %}
