{% extends "base.html" %}

{% block body_block %}
<div class="container">

<div class="card" style="width: 45rem;margin:auto;height:50rem;">

  <img class="card-img-top" src="{{user.profile.profile_pic.url}}" alt="https://static-prod.testony.com/img/defaultavatar-8ab1ea5e26.jpg">

  <div class="card-body">
    <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
    <p class="card-text">some status shit will be written here</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">DOB: {{user.profile.date_of_birth|date:"D, d /m /Y"}}</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'friendship:friendship_add_friend' user.username %}" class="btn btn-primary btn-lg active card-link" role="button" aria-pressed="true" >Add friend</a>
    <a href="{% url 'friendship:follower_add' user.username %}" class="btn btn-primary btn-lg active card-link" role="button" aria-pressed="true">Follow</a>
  </div>
</div>

</div>
{% endblock %}
