{% extends "base.html" %}

{% block body_block %}

        <img src="https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg" alt=""
           style="background-size:cover;width:100%;height:10%;">

        <div class="welcome" style="
              position: absolute;
              bottom: 70%;
              right: 20px;
              color: white;
              padding-left: 20px;
              padding-right: 65%;">
          <h2 style="font-size:275%; font-weight:700;font-family: 'Indie Flower', cursive;">Welcome to FoodSpace</h2>
          <h4 style="font-size:180%; font-weight:500;font-family: 'Indie Flower', cursive;padding-left:23%;">Every meal matters</h4>

        </div>

{% endblock %}
