<!--<form class="navbar-form navbar-left" action = "{% url 'search:user_search' %}">
  <div class="form-group">
    {% csrf_token %}
    <input type="text" class="form-control" placeholder="Search" name = "q" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>-->

<li class="nav-item">
  <form class="form-inline my-2 my-lg-0" action="{% url 'search:user_search' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</li>
